<launch>
<rosparam file="$(find project_controller)/config/ur5_control.yaml"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
ns="/ur5" args="
shoulder_lift_joint_position_controller 
shoulder_pan_joint_position_controller
wrist_1_joint_position_controller
wrist_2_joint_position_controller
wrist_3_joint_position_controller
joint_state_controller
"/>

<node
pkg="robot_state_publisher"
name="robot_state_publisher"
type="robot_state_publisher"
respawn="false"
output="screen">
<remap from="/joint_states" to="/ur5/joint_states"/>
</node>
</launch>